@font-face {
  font-family: 'Montserrat 800';
  src: url("../fonts/Montserrat-ExtraBold.ttf"); }
@font-face {
  font-family: 'Montserrat 700';
  src: url("../fonts/Montserrat-Bold.ttf"); }
@font-face {
  font-family: 'Montserrat 400';
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: 'Montserrat 300';
  src: url("../fonts/Montserrat-Light.ttf"); }
.nav {
  height: 100px;
  background: #84C440;
  margin: 0;
  padding: 0;
  width: 100vw; }
  .nav .content-margins {
    margin: 0 25px; }
    .nav .content-margins .logo {
      float: left; }
      .nav .content-margins .logo a img {
        width: 350px; }
    .nav .content-margins ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: right;
      margin-top: 35px; }
      .nav .content-margins ul li {
        display: inline-flex;
        color: #d4de24; }
        .nav .content-margins ul li a, .nav .content-margins ul li a:visited {
          color: #d4de24;
          font-size: 16px; }
        .nav .content-margins ul li.divider {
          margin: 0 25px; }

footer {
  background-color: #009171;
  padding-top: 20px;
  color: #4DBFA8; }
  footer .content-margins {
    margin: 0 25px; }
    footer .content-margins .row {
      width: 100%; }
      footer .content-margins .row h3 {
        font-size: 40px;
        line-height: 1; }
      footer .content-margins .row p {
        display: block;
        font-size: 25px;
        margin-top: -30px; }
      footer .content-margins .row form {
        width: 95%; }
        footer .content-margins .row form input[type="email"] {
          color: #007257;
          background-color: #fff;
          border: 1px solid #fff;
          height: 45px;
          width: 85%;
          display: block;
          margin-top: -5px;
          font-size: 16px;
          font-family: 'Montserrat 400';
          float: left; }
        footer .content-margins .row form input[type="submit"] {
          height: 50px;
          width: 15%;
          font-family: 'Montserrat 800';
          color: #009171;
          text-align: center;
          font-size: 1.8em;
          background-color: #007257;
          border: 1px solid #007257;
          margin-left: -4px;
          margin-top: -5px;
          float: right; }
      footer .content-margins .row .app-link-img {
        width: 100%;
        margin-bottom: 20px;
        max-width: 180px;
        display: block; }
      footer .content-margins .row .sitemap-menu {
        display: inline;
        list-style-type: none; }
        footer .content-margins .row .sitemap-menu li a, footer .content-margins .row .sitemap-menu li a:visited {
          color: #4DBFA8;
          font-size: 14px;
          line-height: 1.5; }
        footer .content-margins .row .sitemap-menu li.title {
          font-size: 16px;
          margin-top: 30px;
          margin-bottom: 20px; }
        footer .content-margins .row .sitemap-menu li.sub-menu a {
          font-size: 12px;
          margin-left: 10px; }
      footer .content-margins .row.social-row {
        border-bottom: 4px solid #007257; }
        footer .content-margins .row.social-row .footer-logo {
          width: 350px; }
        footer .content-margins .row.social-row .social-icons {
          text-align: right;
          list-style-type: none;
          line-height: 60px;
          margin: 0;
          margin-top: 30px;
          padding: 0; }
          footer .content-margins .row.social-row .social-icons li {
            display: inline-flex;
            margin: 0 10px; }
            footer .content-margins .row.social-row .social-icons li a img {
              height: 35px;
              width: 35px; }
  footer .sub-footer {
    background-color: #007257;
    height: 100px;
    line-height: 100px; }
    footer .sub-footer p {
      color: #4DBFA8;
      font-size: 12px !important;
      text-align: right;
      margin-top: 0 !important;
      line-height: 100px !important; }
    footer .sub-footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer .sub-footer ul li {
        display: inline-flex;
        color: #4DBFA8; }
        footer .sub-footer ul li a, footer .sub-footer ul li a:visited {
          color: #4DBFA8;
          font-size: 12px; }
        footer .sub-footer ul li.divider {
          margin: 0 25px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #007257;
  padding-left: 25px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #007257;
  padding-left: 25px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #007257;
  padding-left: 25px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #007257;
  padding-left: 25px; }

@media (max-width: 991px) {
  footer .content-margins .row.social-row .social-icons {
    text-align: left; } }
@media (max-width: 767px) {
  footer .get-app-column {
    margin-top: -150px;
    padding-bottom: 40px; }
  footer .sub-footer {
    height: auto; }
    footer .sub-footer p {
      margin-top: -50px !important; } }
@media (max-width: 400px) {
  footer .content-margins .row .get-app-column {
    margin-top: -120px; }
    footer .content-margins .row .get-app-column h3 {
      font-size: 20px; } }
@media (max-width: 350px) {
  footer .sub-footer ul li.divider {
    margin: 0 5px; }
  footer .sub-footer p {
    margin-top: -70px !important; } }
.slider-container {
  background-color: #009171;
  color: #4DBFA8;
  height: 600px;
  width: 100vw; }
  .slider-container #slider {
    position: relative;
    overflow: hidden; }
    .slider-container #slider ul {
      position: relative;
      margin: 0;
      padding: 0;
      height: 600px;
      width: 1200px;
      list-style: none; }
      .slider-container #slider ul li {
        font-size: 50px;
        font-family: 'Montserrat 800';
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        width: 1200px;
        height: 600px;
        background: #009171;
        text-align: center;
        line-height: 300px; }
        .slider-container #slider ul li p {
          width: 200px;
          margin: 0 auto; }
  .slider-container a.control_prev, .slider-container a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    width: auto;
    height: auto;
    background: #007257;
    text-decoration: none;
    cursor: pointer;
    width: 45px;
    height: 37px;
    padding-top: 8px;
    float: right;
    text-align: center;
    font-size: 1.8em;
    color: #009171; }
  .slider-container a.control_prev {
    border-radius: 0 2px 2px 0; }
  .slider-container a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px; }

.stats-container #stats-slider {
  position: relative;
  overflow: hidden; }
  .stats-container #stats-slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    list-style: none; }
    .stats-container #stats-slider ul li {
      font-size: 50px;
      font-family: 'Montserrat 800';
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      margin-top: 100px;
      width: 100%;
      height: 300px;
      background: #fff;
      text-align: center; }
      .stats-container #stats-slider ul li h3, .stats-container #stats-slider ul li h4, .stats-container #stats-slider ul li h5 {
        margin: 0;
        padding: 0;
        line-height: 1.2; }
      .stats-container #stats-slider ul li p {
        width: 200px;
        margin: 0 auto; }
.stats-container a.control_prev2, .stats-container a.control_next2 {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  width: auto;
  height: auto;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  width: 45px;
  height: 37px;
  padding-top: 8px;
  float: right;
  text-align: center;
  font-size: 1.8em;
  color: #F68C1E; }
.stats-container a.control_prev2 {
  border-radius: 0 2px 2px 0; }
.stats-container a.control_next2 {
  right: 0;
  border-radius: 2px 0 0 2px; }

.success-stories-container {
  padding: 60px 0 100px 0; }
  .success-stories-container #success-slider {
    position: relative;
    overflow: hidden; }
    .success-stories-container #success-slider ul {
      position: relative;
      margin: 0;
      padding: 0;
      height: 275px;
      width: 1200px;
      list-style: none; }
      .success-stories-container #success-slider ul li {
        font-size: 50px;
        font-family: 'Montserrat 800';
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 1200px;
        height: 275px;
        background: #A51E22;
        text-align: center;
        line-height: 300px; }
        .success-stories-container #success-slider ul li .row .col-xs-12, .success-stories-container #success-slider ul li .row .col-sm-8, .success-stories-container #success-slider ul li .row .col-md-9,
        .success-stories-container #success-slider ul li .row .col-xs-0, .success-stories-container #success-slider ul li .row .col-sm-4, .success-stories-container #success-slider ul li .row .col-md-3 {
          padding: 0 !important;
          margin: 0 !important; }
        .success-stories-container #success-slider ul li .success-image-container {
          height: 275px;
          width: 100% !important;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center !important; }
        .success-stories-container #success-slider ul li .success-image {
          width: 275px;
          height: 275px;
          position: absolute;
          left: 45px; }
        .success-stories-container #success-slider ul li .name-container {
          margin-top: -80px; }
        .success-stories-container #success-slider ul li .text-container {
          margin-left: -140px !important; }
        .success-stories-container #success-slider ul li h3 {
          display: inline;
          color: #E21E26;
          margin: 0;
          padding: 0;
          line-height: 1;
          font-size: 60px; }
        .success-stories-container #success-slider ul li h6 {
          display: inline;
          color: #E21E26;
          font-size: 60px;
          margin: 0;
          padding: 0;
          line-height: 1; }
        .success-stories-container #success-slider ul li h5 {
          color: #fff;
          width: 80%;
          min-width: 290px;
          margin: 0;
          padding: 0;
          line-height: 1.2;
          margin: 0 auto;
          font-size: 30px;
          margin-top: -100px; }
  .success-stories-container a.control_prev3, .success-stories-container a.control_next3 {
    position: absolute;
    top: 0;
    z-index: 999;
    display: block;
    width: auto;
    height: auto;
    background: #A51E22;
    text-decoration: none;
    cursor: pointer;
    width: 45px;
    height: 275px;
    padding-top: 120px;
    float: right;
    text-align: center;
    font-size: 1.8em;
    color: #E21E26; }
  .success-stories-container a.control_prev3 {
    border-radius: 0 2px 2px 0;
    border-right: 5px solid #E21E26; }
  .success-stories-container a.control_next3 {
    right: 0;
    border-radius: 2px 0 0 2px;
    border-left: 5px solid #E21E26; }

@media (max-width: 1250px) {
  .slider-container #slider {
    margin: 0 auto; }
    .slider-container #slider ul {
      height: 600px;
      width: 800px;
      margin: 0 auto; }
      .slider-container #slider ul li {
        height: 600px;
        width: 800px; }

  .success-stories-container #success-slider {
    margin: 0 auto; }
    .success-stories-container #success-slider ul {
      width: 1000px; }
      .success-stories-container #success-slider ul li {
        width: 1000px; }
        .success-stories-container #success-slider ul li .text-container {
          margin-left: -70px !important; }
        .success-stories-container #success-slider ul li h3, .success-stories-container #success-slider ul li h6 {
          font-size: 50px; }
        .success-stories-container #success-slider ul li h5 {
          font-size: 22px; } }
@media (max-width: 1100px) {
  .success-stories-container #success-slider ul li .text-container {
    margin-left: 0px !important; }
  .success-stories-container #success-slider ul li .row .hide-sm {
    display: none !important; }
  .success-stories-container #success-slider ul li .row .big-sm {
    width: 100% !important;
    margin: 0 auto;
    flex-basis: 100%;
    max-width: 100%; } }
@media (max-width: 1050px) {
  .success-stories-container #success-slider {
    margin: 0 auto; }
    .success-stories-container #success-slider ul {
      width: 800px; }
      .success-stories-container #success-slider ul li {
        width: 800px; }
        .success-stories-container #success-slider ul li h3, .success-stories-container #success-slider ul li h6 {
          font-size: 40px; }
        .success-stories-container #success-slider ul li h5 {
          font-size: 22px; } }
@media (max-width: 850px) {
  .success-stories-container #success-slider {
    margin: 0 auto; }
    .success-stories-container #success-slider ul {
      width: 600px; }
      .success-stories-container #success-slider ul li {
        width: 600px; }
        .success-stories-container #success-slider ul li h3, .success-stories-container #success-slider ul li h6 {
          font-size: 30px; }
        .success-stories-container #success-slider ul li h5 {
          font-size: 20px; } }
@media (max-width: 825px) {
  .slider-container {
    height: 400px; }
    .slider-container #slider {
      margin: 0 auto; }
      .slider-container #slider ul {
        height: 400px;
        width: 600px;
        margin: 0 auto; }
        .slider-container #slider ul li {
          margin-top: 50px;
          font-size: 30px;
          height: 400px;
          width: 600px; } }
@media (max-width: 650px) {
  .success-stories-container #success-slider {
    margin: 0 auto; }
    .success-stories-container #success-slider ul {
      width: 500px; }
      .success-stories-container #success-slider ul li {
        width: 500px; }
        .success-stories-container #success-slider ul li h3, .success-stories-container #success-slider ul li h6 {
          font-size: 30px; }
        .success-stories-container #success-slider ul li h5 {
          font-size: 18px; } }
@media (max-width: 625px) {
  .slider-container {
    height: 300px; }
    .slider-container #slider {
      margin: 0 auto; }
      .slider-container #slider ul {
        height: 300px;
        width: 400px;
        margin: 0 auto; }
        .slider-container #slider ul li {
          margin-top: 0px;
          font-size: 30px;
          height: 300px;
          width: 400px; } }
@media (max-width: 550px) {
  .success-stories-container #success-slider {
    margin: 0 auto; }
    .success-stories-container #success-slider ul {
      width: 400px; }
      .success-stories-container #success-slider ul li {
        width: 400px; }
        .success-stories-container #success-slider ul li .name-container {
          margin-top: -100px; }
        .success-stories-container #success-slider ul li h3, .success-stories-container #success-slider ul li h6 {
          font-size: 30px; }
        .success-stories-container #success-slider ul li h5 {
          font-size: 18px;
          width: 50%;
          min-width: 200px !important; } }
@media (max-width: 450px) {
  .success-stories-container #success-slider {
    margin: 0 auto; }
    .success-stories-container #success-slider ul {
      width: 300px; }
      .success-stories-container #success-slider ul li {
        width: 300px; }
        .success-stories-container #success-slider ul li .name-container {
          margin-top: -100px; }
        .success-stories-container #success-slider ul li h3, .success-stories-container #success-slider ul li h6 {
          font-size: 20px; }
        .success-stories-container #success-slider ul li h5 {
          font-size: 16px;
          width: 40%;
          min-width: 190px !important; } }
@media (max-width: 425px) {
  .slider-container {
    height: 300px; }
    .slider-container #slider {
      margin: 0 auto; }
      .slider-container #slider ul {
        height: 300px;
        width: 290px;
        margin: 0 auto; }
        .slider-container #slider ul li {
          margin-top: 0px;
          font-size: 30px;
          height: 300px;
          width: 290px; } }
.stats-container {
  background-color: #fff;
  padding: 20px 0 40px 0; }
  .stats-container h3 {
    font-size: 65px; }
  .stats-container h4 {
    margin-top: -80px;
    font-size: 40px; }
  .stats-container h5 {
    font-size: 25px;
    margin-top: -70px; }

.box-bg-container {
  min-height: 1200px;
  background-image: url("../img/backgrounds/home-bg.png");
  background-size: 2400px 1200px;
  background-position: center;
  background-repeat: no-repeat; }
  .box-bg-container .col-xs-6 {
    padding: 0;
    margin: 0; }
  .box-bg-container .box {
    height: 600px;
    width: 600px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; }
    .box-bg-container .box h2 {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 60px;
      line-height: 1;
      padding-left: 50px !important;
      padding-top: 50px !important; }
  .box-bg-container .box-1 {
    background-color: #F68C1E;
    background-image: url("../img/backgrounds/box-1.png"); }
  .box-bg-container .box-2 {
    background-color: #E21E26;
    background-image: url("../img/backgrounds/box-2.png"); }
  .box-bg-container .box-3 {
    background-color: #84C440;
    background-image: url("../img/backgrounds/box-3.png"); }
  .box-bg-container .box-4 {
    background-color: #009171;
    background-image: url("../img/backgrounds/box-4.png"); }

.box-white-container {
  padding: 100px 0; }
  .box-white-container .col-xs-12, .box-white-container .col-md-6 {
    margin: 0;
    padding: 0; }
  .box-white-container .box {
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .box-white-container .box-5 {
    background-color: #F68C1E; }
  .box-white-container .box-5 h1, .box-white-container .box-category h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    line-height: 1;
    padding-top: 50px;
    padding-left: 50px; }
  .box-white-container .box-5 .button, .box-white-container .box-category .button {
    margin-top: -15px;
    margin-left: 50px; }
  .box-white-container .sub-box {
    width: 50%;
    height: 50%;
    position: relative; }
    .box-white-container .sub-box h5 {
      padding: 0;
      margin: 0;
      line-height: 1;
      padding: 25px 25px 0 25px;
      font-size: 30px; }
    .box-white-container .sub-box .button {
      position: absolute;
      bottom: -25px; }
  .box-white-container .sub-box.food h5 {
    color: #4DBFA8; }
  .box-white-container .sub-box.workout h5 {
    color: #F38082; }
  .box-white-container .sub-box.health-tips h5 {
    color: #FFD400; }
  .box-white-container .sub-box.inspiration h5 {
    color: #d4de24; }

.success-stories-container h1 {
  margin: 0;
  padding: 0;
  font-size: 65px;
  line-height: 1;
  margin-bottom: 50px; }
.success-stories-container .red-button {
  float: right;
  margin-top: 0px; }

@media (max-width: 1000px) {
  .stats-container {
    padding: 40px 0; }
    .stats-container h3 {
      font-size: 50px; }
    .stats-container h4 {
      margin-top: -80px;
      font-size: 30px; }
    .stats-container h5 {
      font-size: 18px;
      margin-top: -70px; } }
@media (max-width: 1200px) {
  .box-bg-container {
    background: none;
    min-height: 0; }
    .box-bg-container .box {
      height: 50vw;
      width: 50vw; }
      .box-bg-container .box h2 {
        font-size: 45px; }

  .box-white-container .box {
    height: 50vw;
    width: 50vw; }
    .box-white-container .box .sub-box .button {
      position: absolute;
      bottom: -21px;
      width: 100%; }
      .box-white-container .box .sub-box .button .button-text {
        width: 70%;
        padding-left: 10%;
        border: none; }
      .box-white-container .box .sub-box .button .caret {
        width: 20%;
        border: none;
        margin-top: 2px; } }
@media (min-width: 951px) and (max-width: 1100px) {
  .box-white-container .box-category h1 {
    margin-bottom: 120px !important; }
  .box-white-container .box-category .button .button-text {
    font-size: 14px;
    height: 40px;
    line-height: 40px; }
  .box-white-container .box-category .button .caret {
    height: 40px;
    margin-top: 3px; }
  .box-white-container .box h1 {
    font-size: 45px; }
  .box-white-container .box .orange-button .button-text {
    font-size: 14px;
    height: 40px;
    line-height: 40px; }
  .box-white-container .box .orange-button .caret {
    height: 40px;
    margin-top: 3px; }
  .box-white-container .box .sub-box h5 {
    font-size: 25px; } }
@media (min-width: 876px) and (max-width: 950px) {
  .box-white-container .box-category h1 {
    margin-bottom: 110px !important; }
  .box-white-container .box-category .button {
    margin-left: 25px; }
    .box-white-container .box-category .button .button-text {
      font-size: 14px;
      height: 40px;
      line-height: 40px; }
    .box-white-container .box-category .button .caret {
      height: 40px;
      margin-top: 3px; }
  .box-white-container .box h1 {
    font-size: 40px;
    padding-top: 25px;
    padding-left: 25px; }
  .box-white-container .box .orange-button {
    margin-left: 25px; }
    .box-white-container .box .orange-button .button-text {
      font-size: 14px;
      height: 40px;
      line-height: 40px; }
    .box-white-container .box .orange-button .caret {
      height: 40px;
      margin-top: 3px; }
  .box-white-container .box .sub-box h5 {
    font-size: 22px;
    line-height: 1.2; } }
@media (max-width: 875px) {
  .box-bg-container .box h2 {
    font-size: 35px; }

  .success-stories-container h1 {
    font-size: 50px;
    margin-left: 25px; } }
@media (min-width: 768px) and (max-width: 875px) {
  .box-bg-container .box h2 {
    font-size: 40px; }

  .box-white-container .box-category h1 {
    margin-bottom: 100px !important; }
  .box-white-container .box-category .button {
    margin-left: 25px;
    margin-top: -20px; }
    .box-white-container .box-category .button .button-text {
      font-size: 14px;
      height: 30px;
      line-height: 30px; }
    .box-white-container .box-category .button .caret {
      height: 30px;
      line-height: 30px;
      margin-top: 8px; }
  .box-white-container .box h1 {
    font-size: 35px;
    padding-top: 25px;
    padding-left: 25px; }
  .box-white-container .box .orange-button {
    margin-left: 25px;
    margin-top: -20px; }
    .box-white-container .box .orange-button .button-text {
      font-size: 14px;
      height: 30px;
      line-height: 30px; }
    .box-white-container .box .orange-button .caret {
      height: 30px;
      line-height: 30px;
      margin-top: 8px; }
  .box-white-container .box .sub-box h5 {
    font-size: 20px;
    line-height: 1.2;
    padding: 10px 10px 0 10px; } }
@media (min-width: 768px) {
  .stats-mobile {
    display: none; } }
@media (max-width: 767px) {
  .stats-desktop {
    display: none; }

  .box-bg-container .box h2 {
    font-size: 35px;
    padding-left: 25px !important;
    padding-top: 25px !important; }

  .box-white-container .box-5, .box-white-container .box-category {
    height: 100vw;
    width: 100vw; }
  .box-white-container .blog-box {
    height: 50vw;
    width: 100vw; }
    .box-white-container .blog-box .sub-box {
      height: 100%; }
  .box-white-container .box-category h1 {
    margin-bottom: 30px !important; }
  .box-white-container .box .sub-box h5 {
    font-size: 40px; }
  .box-white-container .box .sub-box .button {
    position: absolute;
    bottom: -21px;
    width: 100%; }
    .box-white-container .box .sub-box .button .button-text {
      width: 70%;
      padding-left: 10%;
      border: none; }
    .box-white-container .box .sub-box .button .caret {
      width: 20%;
      border: none;
      margin-top: 2px; } }
@media (max-width: 660px) {
  .box-white-container .box h1 {
    font-size: 40px; }
  .box-white-container .box .sub-box h5 {
    font-size: 30px; } }
@media (max-width: 630px) {
  .box-bg-container .box h2 {
    font-size: 30px; } }
@media (max-width: 540px) {
  .box-bg-container .box h2 {
    font-size: 25px; } }
@media (max-width: 520px) {
  .box-white-container .box-category .button .button-text {
    font-size: 16px;
    height: 40px;
    line-height: 40px; }
  .box-white-container .box-category .button .caret {
    height: 40px;
    line-height: 40px;
    margin-top: 3px; }
  .box-white-container .box h1 {
    font-size: 30px; }
  .box-white-container .box .orange-button .button-text {
    font-size: 16px;
    height: 40px;
    line-height: 40px; }
  .box-white-container .box .orange-button .caret {
    height: 40px;
    line-height: 40px;
    margin-top: 3px; }
  .box-white-container .box .sub-box h5 {
    font-size: 25px; } }
@media (max-width: 475px) {
  .box-bg-container .box h2 {
    font-size: 20px; } }
@media (max-width: 455px) {
  .box-white-container .box-category .button {
    margin-left: 25px; }
    .box-white-container .box-category .button .button-text {
      font-size: 16px;
      height: 40px;
      line-height: 40px; }
    .box-white-container .box-category .button .caret {
      height: 40px;
      line-height: 40px; }
  .box-white-container .box h1 {
    font-size: 25px;
    padding-left: 25px;
    padding-top: 25px; }
  .box-white-container .box .orange-button {
    margin-left: 25px; }
    .box-white-container .box .orange-button .button-text {
      font-size: 16px;
      height: 40px;
      line-height: 40px; }
    .box-white-container .box .orange-button .caret {
      height: 40px;
      line-height: 40px; }
  .box-white-container .box .sub-box h5 {
    font-size: 20px;
    padding: 15px 15px 0 15px; } }
@media (max-width: 400px) {
  .box-bg-container .box h2 {
    font-size: 18px;
    padding-left: 15px !important;
    padding-top: 15px !important; }

  .box-white-container .box-category .button {
    margin-left: 25px;
    margin-top: -20px; }
    .box-white-container .box-category .button .button-text {
      font-size: 14px;
      height: 30px;
      line-height: 30px; }
    .box-white-container .box-category .button .caret {
      height: 30px;
      line-height: 30px;
      margin-top: 8px; }
  .box-white-container .box h1 {
    font-size: 25px;
    padding-left: 25px;
    padding-top: 25px; }
  .box-white-container .box .orange-button {
    margin-left: 25px;
    margin-top: -20px; }
    .box-white-container .box .orange-button .button-text {
      font-size: 14px;
      height: 30px;
      line-height: 30px; }
    .box-white-container .box .orange-button .caret {
      height: 30px;
      line-height: 30px;
      margin-top: 8px; }
  .box-white-container .box .sub-box h5 {
    font-size: 20px; }
  .box-white-container .box .sub-box .button .button-text {
    font-size: 14px; } }
@media (max-width: 360px) {
  .box-white-container .box-category .button {
    margin-left: 15px;
    margin-top: -20px; }
    .box-white-container .box-category .button .button-text {
      font-size: 12px;
      height: 25px;
      line-height: 25px; }
    .box-white-container .box-category .button .caret {
      height: 25px;
      font-size: 20px;
      line-height: 25px;
      margin-top: 11px; }
  .box-white-container .box h1 {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px; }
  .box-white-container .box .orange-button {
    margin-left: 15px;
    margin-top: -20px; }
    .box-white-container .box .orange-button .button-text {
      font-size: 12px;
      height: 25px;
      line-height: 25px; }
    .box-white-container .box .orange-button .caret {
      height: 25px;
      font-size: 20px;
      line-height: 25px;
      margin-top: 11px; }
  .box-white-container .box .sub-box h5 {
    font-size: 16px; }
  .box-white-container .box .sub-box .button .button-text {
    font-size: 14px; } }
.lifestyle-hero {
  padding: 0;
  width: 100vw;
  background-image: url("/img/backgrounds/lifestyle-bg.png");
  background-size: 2400px 600px;
  background-position: center;
  background-repeat: no-repeat; }
  .lifestyle-hero .box {
    width: 100%; }

.box-white-container .box-category h1 {
  margin-bottom: 150px; }

@media (max-width: 889px) {
  .box-white-container .row {
    width: 100vw; } }
html {
  font-family: 'Montserrat 400', Arial, sans-serif; }

body {
  margin: 0;
  padding: 0; }

.row {
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.page-container {
  max-width: 100vw;
  overflow: hidden; }

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.content-margins {
  margin: 0 25px; }

h1 {
  font-size: 98px;
  line-height: 117px;
  font-family: 'Montserrat 800'; }

h2 {
  font-size: 88px;
  line-height: 91px;
  font-family: 'Montserrat 800'; }

h3 {
  font-size: 75px;
  line-height: 78px;
  font-family: 'Montserrat 800'; }

h4 {
  font-size: 59px;
  line-height: 65px;
  font-family: 'Montserrat 700'; }

h5 {
  font-size: 36px;
  line-height: 58px;
  font-family: 'Montserrat 400'; }

h6 {
  font-size: 15px;
  line-height: 20px;
  font-family: 'Montserrat 300'; }

h6.important {
  font-family: 'Montserrat 700'; }

p {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Montserrat 400'; }

a {
  font-size: 24px;
  line-height: 27px;
  font-family: 'Montserrat 700';
  text-decoration: none; }

a.menu {
  font-family: 'Montserrat 400'; }

.bold {
  font-family: 'Montserrat 800'; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.orange {
  color: #F68C1E; }

.green {
  color: #84C440; }

.red {
  color: #E21E26; }

.pink {
  color: #F38082; }

.aqua {
  color: #4DBFA8; }

.lime {
  color: #d4de24; }

.yellow {
  color: #FFD400; }

.button {
  width: 300px;
  display: block;
  line-height: 45px;
  transition: 0.2s;
  margin: 20px 0; }
  .button .button-text {
    font-size: 20px;
    display: inline-block;
    width: 224px;
    padding-left: 25px;
    height: 45px;
    border: 3px solid;
    border-right: none;
    transition: 0.2s; }
  .button .caret {
    display: inline-block;
    width: 45px;
    height: 45px;
    float: right;
    text-align: center;
    font-size: 1.8em;
    border: 3px solid;
    border-left: none; }

.red-button, .red-button:visited, .workout .button {
  color: #E21E26; }
  .red-button .button-text, .red-button:visited .button-text, .workout .button .button-text {
    border-color: #A51E22; }
  .red-button .caret, .red-button:visited .caret, .workout .button .caret {
    background-color: #A51E22;
    border-color: #A51E22; }
  .red-button.toggle, .red-button:visited.toggle, .workout .button.toggle {
    border: none; }
    .red-button.toggle .button-text, .red-button:visited.toggle .button-text, .workout .button.toggle .button-text {
      color: #F38082;
      border-color: #E21E26;
      background-color: #E21E26;
      margin-left: 0; }
  .red-button:hover .button-text, .red-button:visited:hover .button-text, .workout .button:hover .button-text {
    color: #fff;
    border-color: #A51E22;
    background-color: #A51E22;
    transition: 0.2s; }

.red-background .red-button .button-text, .red-background .button .button-text, .workout .red-button .button-text, .workout .button .button-text {
  color: #F38082; }
.red-background .red-button.toggle .button-text, .red-background .button.toggle .button-text, .workout .red-button.toggle .button-text, .workout .button.toggle .button-text {
  color: #A51E22;
  background-color: #fff;
  border-color: #fff; }
.red-background .red-button:hover .button-text, .red-background .button:hover .button-text, .workout .red-button:hover .button-text, .workout .button:hover .button-text {
  background-color: #A51E22;
  border-color: #A51E22;
  color: #fff; }

.red-background {
  background-color: #E21E26; }

.workout {
  background-color: rgba(226, 31, 38, 0.9); }

.orange-button, .orange-button:visited, .health-tips .button {
  color: #F68C1E; }
  .orange-button .button-text, .orange-button:visited .button-text, .health-tips .button .button-text {
    border-color: #F16321; }
  .orange-button .caret, .orange-button:visited .caret, .health-tips .button .caret {
    background-color: #F16321;
    border-color: #F16321; }
  .orange-button.toggle, .orange-button:visited.toggle, .health-tips .button.toggle {
    border: none; }
    .orange-button.toggle .button-text, .orange-button:visited.toggle .button-text, .health-tips .button.toggle .button-text {
      color: #FFD400;
      background-color: #F68C1E;
      border-color: #F68C1E;
      background: #F68C1E;
      margin-left: 0; }
  .orange-button:hover .button-text, .orange-button:visited:hover .button-text, .health-tips .button:hover .button-text {
    color: #fff;
    border-color: #F16321;
    background-color: #F16321;
    transition: 0.2s; }

.orange-background, .health-tips {
  background: #F68C1E; }
  .orange-background .orange-button .button-text, .orange-background .button .button-text, .health-tips .orange-button .button-text, .health-tips .button .button-text {
    background-color: #F68C1E;
    color: #FFD400; }
  .orange-background .orange-button.toggle .button-text, .orange-background .button.toggle .button-text, .health-tips .orange-button.toggle .button-text, .health-tips .button.toggle .button-text {
    color: #F16321;
    background-color: #fff;
    border-color: #fff; }
  .orange-background .orange-button:hover .button-text, .orange-background .button:hover .button-text, .health-tips .orange-button:hover .button-text, .health-tips .button:hover .button-text {
    background-color: #F16321;
    border-color: #F16321;
    color: #fff; }

.forest-button, .forest-button:visited, .food .button {
  color: #009171; }
  .forest-button .button-text, .forest-button:visited .button-text, .food .button .button-text {
    border-color: #007257; }
  .forest-button .caret, .forest-button:visited .caret, .food .button .caret {
    background-color: #007257;
    border-color: #007257; }
  .forest-button.toggle, .forest-button:visited.toggle, .food .button.toggle {
    border: none; }
    .forest-button.toggle .button-text, .forest-button:visited.toggle .button-text, .food .button.toggle .button-text {
      color: #4DBFA8;
      background-color: #009171;
      border-color: #009171;
      background: #009171;
      margin-left: 0; }
  .forest-button:hover .button-text, .forest-button:visited:hover .button-text, .food .button:hover .button-text {
    color: #fff;
    border-color: #007257;
    background-color: #007257;
    transition: 0.2s; }

.forest-background, .food {
  background: #009171; }
  .forest-background .forest-button .button-text, .forest-background .button .button-text, .food .forest-button .button-text, .food .button .button-text {
    background-color: #009171;
    color: #4DBFA8; }
  .forest-background .forest-button.toggle .button-text, .forest-background .button.toggle .button-text, .food .forest-button.toggle .button-text, .food .button.toggle .button-text {
    color: #007257;
    background-color: #fff;
    border-color: #fff; }
  .forest-background .forest-button:hover .button-text, .forest-background .button:hover .button-text, .food .forest-button:hover .button-text, .food .button:hover .button-text {
    background-color: #007257;
    border-color: #007257;
    color: #fff; }

.green-button, .green-button:visited, .inspiration .button {
  color: #84C440; }
  .green-button .button-text, .green-button:visited .button-text, .inspiration .button .button-text {
    border-color: #4F9843; }
  .green-button .caret, .green-button:visited .caret, .inspiration .button .caret {
    background-color: #4F9843;
    border-color: #4F9843; }
  .green-button.toggle, .green-button:visited.toggle, .inspiration .button.toggle {
    border: none; }
    .green-button.toggle .button-text, .green-button:visited.toggle .button-text, .inspiration .button.toggle .button-text {
      color: #d4de24;
      background-color: #84C440;
      border-color: #84C440;
      background: #84C440;
      margin-left: 0; }
  .green-button:hover .button-text, .green-button:visited:hover .button-text, .inspiration .button:hover .button-text {
    color: #fff;
    border-color: #4F9843;
    background-color: #4F9843;
    transition: 0.2s; }

.green-background, .inspiration {
  background: #84C440; }
  .green-background .green-button .button-text, .green-background .button .button-text, .inspiration .green-button .button-text, .inspiration .button .button-text {
    background-color: #84C440;
    color: #d4de24; }
  .green-background .green-button.toggle .button-text, .green-background .button.toggle .button-text, .inspiration .green-button.toggle .button-text, .inspiration .button.toggle .button-text {
    color: #4F9843;
    background-color: #fff;
    border-color: #fff; }
  .green-background .green-button:hover .button-text, .green-background .button:hover .button-text, .inspiration .green-button:hover .button-text, .inspiration .button:hover .button-text {
    background-color: #4F9843;
    border-color: #4F9843;
    color: #fff; }

/*# sourceMappingURL=app.css.map */
