@import 'variables';

footer {
  margin-top: 100px;
  background-color: $forest;
  padding-top: 20px;
  color: $aqua;
  .content-margins {
    margin: 0 25px;
    .row {
      width: 100%;
      h3 {
        font-size: 40px;
        line-height: 1;
      }
      p {
        display: block;
        font-size: 25px;
        margin-top: -30px;
      }
      form {
        width: 95%;
        input[type="email"]{
          color: $dark-forest;
          background-color: $white;
          border: 1px solid $white;
          height: 45px;
          width: 85%;
          // padding-left: 25px;
          display: block;
          margin-top: -5px;
          font-size: 16px;
          font-family: 'Montserrat 400';
          float: left;
        }
        input[type="submit"] {
          // display: inline-flex;
          height: 50px;
          width: 15%;
          font-family: 'Montserrat 800';
          color: $forest;
          text-align: center;
          font-size: 1.8em;
          background-color: $dark-forest;
          border: 1px solid $dark-forest;
          margin-left: -4px;
          margin-top: -5px;
          float: right;
        }
      }
      .app-link-img {
        width: 100%;
        margin-bottom: 20px;
        max-width: 180px;
        display: block;
      }
      .sitemap-menu {
        display: inline;
        list-style-type: none;
        li {
          a, a:visited {
            color: $aqua;
            font-size: 14px;
            line-height: 1.5;
          }
          &.title {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 20px;
          }
          &.sub-menu {
            a {
              font-size: 12px;
              margin-left: 10px;
            }
          }
        }
      }
      &.social-row {
        border-bottom: 4px solid $dark-forest;
        // margin-bottom: 40px;
        .footer-logo {
          width: 350px;
        }
        .social-icons {
          text-align: right;
          list-style-type: none;
          line-height: 60px;
          margin: 0;
          margin-top: 30px;
          padding: 0;
          li {
            display: inline-flex;
            margin: 0 10px;
            a {
              img {
                height: 35px;
                width: 35px;
              }
            }
          }
        }
      }
    }
  }
  .sub-footer {
    background-color: $dark-forest;
    height: 100px;
    line-height: 100px;
    p {
      color: $aqua;
      font-size: 12px !important;
      text-align: right;
      margin-top: 0 !important;
      line-height: 100px !important;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-flex;
        color: $aqua;
        a, a:visited {
          color: $aqua;
          font-size: 12px;
        }
        &.divider {
          margin: 0 25px;
        }
      }
    }
  }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dark-forest;
  padding-left: 25px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dark-forest;
  padding-left: 25px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-forest;
  padding-left: 25px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-forest;
  padding-left: 25px;
}

@media (max-width: 991px) {
  footer {
    .content-margins {
      .row.social-row {
        .social-icons {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .get-app-column {
      margin-top: -150px;
      padding-bottom: 40px;
    }
    .sub-footer {
      height: auto;
      // text-align: center;
      p {
        // text-align: center !important;
        margin-top: -50px !important;
      }
    }
  }
}

@media (max-width: 400px) {
  footer {
    .content-margins {
      .row {
        .get-app-column {
          margin-top: -120px;
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  footer {
    .sub-footer {
      ul {
        li.divider {
          margin: 0 5px;
        }
      }
      p {
        // text-align: center !important;
        margin-top: -70px !important;
      }
    }
  }
}
