.stats-container {
  background-color: $white;
  padding: 20px 0 40px 0;
  h3 {
    font-size: 65px;
    // margin-top: -100px;
  }
  h4 {
    margin-top: -80px;
    font-size: 40px;
  }
  h5 {
    font-size: 25px;
    margin-top: -70px;
  }
}

.box-bg-container {
  min-height: 1200px;
  background-image: url('../img/backgrounds/home-bg.png');
  background-size: 2400px 1200px;
  background-position: center;
  background-repeat: no-repeat;
  .col-xs-6 {
    padding: 0;
    margin: 0;
  }
  .box {
    height: 600px;
    width: 600px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    h2 {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 60px;
      line-height: 1;
      padding-left: 50px !important;
      padding-top: 50px !important;
    }
  }
  .box-1 {
    background-color: $orange;
    background-image: url('../img/backgrounds/box-1.png');
    // margin-top: -59px;
  }
  .box-2 {
    background-color: $red;
    background-image: url('../img/backgrounds/box-2.png');
    // margin-top: -59px;
  }
  .box-3 {
    background-color: $green;
    background-image: url('../img/backgrounds/box-3.png');
    // margin-top: -80px;
  }
  .box-4 {
    background-color: $forest;
    background-image: url('../img/backgrounds/box-4.png');
    // margin-top: -80px;
  }
}

.box-white-container {
  padding: 100px 0;
  .col-xs-12, .col-md-6 {
    margin: 0;
    padding: 0;
  }
  .box {
    height: 600px;
    width: 600px;
    // background-size: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box-5 {
    background-color: $orange;
  }
  .box-5, .box-category  {
    h1 {
      font-size: 60px;
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      line-height: 1;
      padding-top: 50px;
      padding-left: 50px;
    }
    .button {
      margin-top: -15px;
      margin-left: 50px;
    }
  }
  .sub-box {
    width: 50%;
    height: 50%;
    position: relative;
    h5 {
      padding: 0;
      margin: 0;
      line-height: 1;
      padding: 25px 25px 0 25px;
      font-size: 30px;
    }
    .button {
      position: absolute;
      bottom: -25px;
    }
  }
  .sub-box.food {
    h5 {
      color: $aqua;
    }
  }
  .sub-box.workout {
    h5 {
      color: $pink;
    }
  }
  .sub-box.health-tips {
    h5 {
      color: $yellow;
    }
  }
  .sub-box.inspiration {
    h5 {
      color: $lime;
    }
  }
}

.success-stories-container {
  h1 {
    margin: 0;
    padding: 0;
    font-size: 65px;
    line-height: 1;
    margin-bottom: 50px;
  }
  .red-button {
    float: right;
    margin-top: 0px;
  }
}


// *************
// media queries
// *************

// stats media queries
@media (max-width: 1000px) {
  .stats-container {
    padding: 40px 0;
    h3 {
      font-size: 50px;
      // margin-top: -100px;
    }
    h4 {
      margin-top: -80px;
      font-size: 30px;
    }
    h5 {
      font-size: 18px;
      margin-top: -70px;
    }
  }
}

// box media queries
@media (max-width: 1200px) {
  .box-bg-container {
    background: none;
    min-height: 0;
    .box {
      height: 50vw;
      width: 50vw;
      h2 {
        font-size: 45px;
      }
    }
  }
  .box-white-container {
    .box {
      height: 50vw;
      width: 50vw;
      .sub-box {
        .button {
          position: absolute;
          bottom: -21px;
          width: 100%;
          .button-text {
            width: 70%;
            padding-left: 10%;
            border: none;
          }
          .caret {
            width: 20%;
            border: none;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

@media (min-width: 951px) and (max-width: 1100px) {
  .box-white-container {
    .box-category {
      h1 {
        margin-bottom: 120px !important;
      }
      .button {
        .button-text {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          margin-top: 3px;
        }
      }
    }
    .box {
      h1 {
        font-size: 45px;
      }
      .orange-button {
        .button-text {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          margin-top: 3px;
        }
      }
      .sub-box {
        h5 {
          font-size: 25px;
        }
      }
    }
  }
}

@media (min-width: 876px) and (max-width: 950px) {
  .box-white-container {
    .box-category {
      h1 {
        margin-bottom: 110px !important;
      }
      .button {
        margin-left: 25px;
        .button-text {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          margin-top: 3px;
        }
      }
    }
    .box {
      h1 {
        font-size: 40px;
        padding-top: 25px;
        padding-left: 25px;
      }
      .orange-button {
        margin-left: 25px;
        .button-text {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          margin-top: 3px;
        }
      }
      .sub-box {
        h5 {
          font-size: 22px;
          line-height: 1.2;
        }
      }
    }
  }
}

@media (max-width: 875px) {
  .box-bg-container {
    .box {
      h2 {
        font-size: 35px;
      }
    }
  }
  .success-stories-container {
    h1 {
      font-size: 50px;
      margin-left: 25px;
    }
  }
}

@media (min-width: 768px) and (max-width: 875px) {
  .box-bg-container {
    .box {
      // height: 100vw;
      // width: 100vw;
      h2 {
        font-size: 40px;
      }
    }
  }
  .box-white-container {
    .box-category {
      h1 {
        margin-bottom: 100px !important;
      }
      .button {
        margin-left: 25px;
        margin-top: -20px;
        .button-text {
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }
        .caret {
          height: 30px;
          line-height: 30px;
          margin-top: 8px;
        }
      }
    }
    .box {
      h1 {
        font-size: 35px;
        padding-top: 25px;
        padding-left: 25px;
      }
      .orange-button {
        margin-left: 25px;
        margin-top: -20px;
        .button-text {
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }
        .caret {
          height: 30px;
          line-height: 30px;
          margin-top: 8px;
        }
      }
      .sub-box {
        h5 {
          font-size: 20px;
          line-height: 1.2;
          padding: 10px 10px 0 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .stats-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .stats-desktop {
    display: none;
  }
  .box-bg-container {
    .box {
      // height: 100vw;
      // width: 100vw;
      h2 {
        font-size: 35px;
        padding-left: 25px !important;
        padding-top: 25px !important;
      }
    }
  }
  .box-white-container {
    .box-5, .box-category {
      height: 100vw;
      width: 100vw;
    }
    .blog-box {
      height: 50vw;
      width: 100vw;
      .sub-box {
        height: 100%;
      }
    }
    .box-category {
      h1 {
        margin-bottom: 30px !important;
      }
    }
    .box {
      .sub-box {
        h5 {
          font-size: 40px;
        }
        .button {
          position: absolute;
          bottom: -21px;
          width: 100%;
          .button-text {
            width: 70%;
            padding-left: 10%;
            border: none;
          }
          .caret {
            width: 20%;
            border: none;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .box-white-container {
    .box {
      h1 {
        font-size: 40px;
      }
      .sub-box {
        h5 {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .box-bg-container {
    .box {
      h2 {
        font-size: 30px;
      }
    }
  }
}


@media (max-width: 540px) {
  .box-bg-container {
    .box {
      h2 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 520px) {
  .box-white-container {
    .box-category {
      .button {
        .button-text {
          font-size: 16px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          line-height: 40px;
          margin-top: 3px;
        }
      }
    }
    .box {
      h1 {
        font-size: 30px;
      }
      .orange-button {
        .button-text {
          font-size: 16px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          line-height: 40px;
          margin-top: 3px;
        }
      }
      .sub-box {
        h5 {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .box-bg-container {
    .box {
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 455px) {
  .box-white-container {
    .box-category {
      .button {
        margin-left: 25px;
        .button-text {
          font-size: 16px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          line-height: 40px;
        }
      }
    }
    .box {
      h1 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 25px;
      }
      .orange-button {
        margin-left: 25px;
        .button-text {
          font-size: 16px;
          height: 40px;
          line-height: 40px;
        }
        .caret {
          height: 40px;
          line-height: 40px;
        }
      }
      .sub-box {
        h5 {
          font-size: 20px;
          padding: 15px 15px 0 15px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .box-bg-container {
    .box {
      h2 {
        font-size: 18px;
        padding-left: 15px !important;
        padding-top: 15px !important;
      }
    }
  }
  .box-white-container {
    .box-category {
      .button {
        margin-left: 25px;
        margin-top: -20px;
        .button-text {
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }
        .caret {
          height: 30px;
          line-height: 30px;
          margin-top: 8px;
        }
      }
    }
    .box {
      h1 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 25px;
      }
      .orange-button {
        margin-left: 25px;
        margin-top: -20px;
        .button-text {
          font-size: 14px;
          height: 30px;
          line-height: 30px;
        }
        .caret {
          height: 30px;
          line-height: 30px;
          margin-top: 8px;
        }
      }
      .sub-box {
        h5 {
          font-size: 20px;
        }
        .button {
          .button-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}


@media (max-width: 360px) {
  .box-white-container {
    .box-category {
      .button {
        margin-left: 15px;
        margin-top: -20px;
        .button-text {
          font-size: 12px;
          height: 25px;
          line-height: 25px;
        }
        .caret {
          height: 25px;
          font-size: 20px;
          line-height: 25px;
          margin-top: 11px;
        }
      }
    }
    .box {
      h1 {
        font-size: 20px;
        padding-left: 15px;
        padding-top: 15px;
      }
      .orange-button {
        margin-left: 15px;
        margin-top: -20px;
        .button-text {
          font-size: 12px;
          height: 25px;
          line-height: 25px;
        }
        .caret {
          height: 25px;
          font-size: 20px;
          line-height: 25px;
          margin-top: 11px;
        }
      }
      .sub-box {
        h5 {
          font-size: 16px;
        }
        .button {
          .button-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
