@import 'variables';

.nav {
  height: 100px;
  // line-height: 100px;
  background: $green;
  margin: 0;
  padding: 0;
  width: 100vw;
  .content-margins {
    margin: 0 25px;
    .logo {
      float: left;
      a {
        img {
          width: 350px;
          // margin-top: 5px;
        }
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: right;
      margin-top: 35px;
      li {
        display: inline-flex;
        color: $lime;
        a, a:visited {
          color: $lime;
          font-size: 16px;
        }
        &.divider {
          margin: 0 25px;
        }
      }
    }
  }
}
