<!-- red buttons -->
<a class="button red-button" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<a class="button red-button toggle" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<div class="red-background">
  <a class="button red-button" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>

  <a class="button red-button toggle" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>
</div>


<!-- orange buttons -->
<a class="button orange-button" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<a class="button orange-button toggle" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<div class="orange-background">
  <a class="button orange-button" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>

  <a class="button orange-button toggle" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>
</div>


<!-- forest buttons -->
<a class="button forest-button" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<a class="button forest-button toggle" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<div class="forest-background">
  <a class="button forest-button" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>

  <a class="button forest-button toggle" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>
</div>


<!-- green buttons -->
<a class="button green-button" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<a class="button green-button toggle" href="#">
  <span class="button-text">Lorem ipsum</span><span class="caret">></span>
</a>

<div class="green-background">
  <a class="button green-button" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>

  <a class="button green-button toggle" href="#">
    <span class="button-text">Lorem ipsum</span><span class="caret">></span>
  </a>
</div>
