---
layout: default
---

<div class="form-container forest-background">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4 class="aqua">
        Sign up
      </h4>
      <form class="" action="index.html" method="post">
        <input type="text" name="first-name" value="" placeholder="First name">
        <br>
        <input type="text" name="last-name" value="" placeholder="Last name">
        <br>
        <input type="email" name="email" value="" placeholder="Email">
        <br>
        <input type="password" name="password" value="" placeholder="Password">
        <br>
        <a class="button forest-button toggle" href="#" type="submit">
          <span class="button-text">Create account</span><span class="caret">></span>
        </a>
      </form>
    </div>
    <div class="col-xs-12 col-sm-6 right-column">
      <h4 class="aqua">
        Log in
      </h4>
      <a class="button forest-button button-1" href="#">
        <span class="button-text">Log in</span><span class="caret">></span>
      </a>
      <a class="button forest-button button-2" href="#">
        <span class="button-text">Log in with Facebook</span><span class="caret">></span>
      </a>
      <a href="#" class="aqua login-instructions">
        didn't receive confirmation instructions?
      </a>
    </div>
  </div>
</div>
