<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" />
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <nav class="nav nav-desktop">
      <div class="inner">
        <div class="content-margins">
          <div class="logo">
            <a href="/">
              <img src="/img/alternative-color-bg/lime-logo.png" alt="nav-logo">
            </a>
          </div>
          <ul>


            {% if page.active == "home" %}
            <li class="home active">
              <a class="menu" href="/">Home</a>
            </li>
            {% else %}
            <li class="home">
              <a class="menu" href="/">Home</a>
            </li>
            {% endif %}
            {% unless page.active == "lifestyle" %}
            {% unless page.active == "home" %}
            <li class="divider">
              |
            </li>
            {% endunless %}
            {% endunless %}
            {% if page.active == "lifestyle" %}
            <li class="lifestyle active">
              <a class="menu" href="/lifestyle">Lifestyle</a>
            </li>
            {% else %}
            <li class="lifestyle">
              <a class="menu" href="/lifestyle">Lifestyle</a>
            </li>
            {% endif %}
            {% unless page.active == "lifestyle" %}
            {% unless page.active == "products" %}
            <li class="divider">
              |
            </li>
            {% endunless %}
            {% endunless %}
            {% if page.active == "products" %}
            <li class="products active">
              <a class="menu" href="/products">Products</a>
            </li>
            {% else %}
            <li class="products">
              <a class="menu" href="/products">Products</a>
            </li>
            {% endif %}
            {% unless page.active == "products" %}
            {% unless page.active == "our-company" %}
            <li class="divider">
              |
            </li>
            {% endunless %}
            {% endunless %}
            {% if page.active == "our-company" %}
            <li class="our-company active">
              <a class="menu" href="/our-company">Our Company</a>
            </li>
            {% else %}
            <li class="our-company">
              <a class="menu" href="/our-company">Our Company</a>
            </li>
            {% endif %}
          </ul>

    </nav>



    </div>
    </div>


    <div class="submenu lifestyle-submenu">
      <div class="row">
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/workouts">
                <span class="button-text">Workouts</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/weight-loss-exercise">
                <span class="button-text">Weight Loss</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/muscle-gain">
                <span class="button-text">Muscle Gain</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/food">
                <span class="button-text">Food</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/meal-plans">
                <span class="button-text">Meal Plans</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/recipes">
                <span class="button-text">Recipes</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/health-and-beauty">
                <span class="button-text">Health & Beauty</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/weight-loss-food">
                <span class="button-text">Weight Loss</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/inspiration">
                <span class="button-text">Inspiration</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/health-tips">
                <span class="button-text">Health Tips</span><span class="caret">></span>
              </a>
            </li>
          </ul>
          <ul class="see-all-articles">
            <li class="title-item">
              <a href="/lifestyle">
                <span class="button-text">See all articles</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>




    <div class="submenu products-submenu">
      <div class="row">
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/mml-simulator">
                <span class="button-text">MML Simulator</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/calculators">
                <span class="button-text">Calculators</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/perfect-body">
                <span class="button-text">Perfect Body</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/body-mass-index">
                <span class="button-text">Body Mass Index</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/calories-burned">
                <span class="button-text">Calories Burned</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/counters">
                <span class="button-text">Counters</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/calorie-counter">
                <span class="button-text">Calorie Counter</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/nutrition-counter">
                <span class="button-text">Nutrition Counter</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            <li class="title-item">
              <a href="/reminders">
                <span class="button-text">Reminders</span><span class="caret">></span>
              </a>
            </li>
            <li class="sub-item">
              <a href="/water-drink-reminder">
                <span class="button-text">Water Drink Reminder</span><span class="caret">></span>
              </a>
            </li>
          </ul>
          <ul class="see-all-articles">
            <li class="title-item">
              <a href="/products">
                <span class="button-text">See all products</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="submenu our-company-submenu">
      <div class="row">
        <div class="col-xs-0 col-sm-6">
          <ul>
            <li class="title-item">
              <a href="/about">
                <span class="button-text">About</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-0 col-sm-6">
          <ul>
            <li class="title-item">
              <a href="/contact">
                <span class="button-text">Contact</span><span class="caret">></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- <h1>
      {{ page.title }}
    </h1> -->

    <section>
      {{ content }}



    </section>




    <footer>
      <div class="inner">
        <div class="content-margins">

          <div class="row social-row">
            <div class="col-xs-12 col-md-6">
              <img class="footer-logo" src="/img/alternative-color-bg/footer-logo.png" alt="footer-logo" />
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="social-icons">
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/facebook.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/instagram.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/pinterest.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/twitter.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/youtube.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-5">
              <h3>
                Keep<br>in Touch
              </h3>
              <p>
                Subcribe to our newsletter
              </p>
              <form method="post">
                <input type="email" name="email" value="" placeholder="email">
                <input type="submit" name="submit" value=">" />
              </form>
            </div>

            <div class="col-xs-12 col-md-5">
              <div class="row">





            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/lifestyle">
                    Lifestyle
                  </a>
                </li>
                <li>
                  <a class="menu" href="/workouts">
                    Workouts
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Weight loss
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Muscle gain
                  </a>
                </li>
                <li>
                  <a class="menu" href="/food">
                    Food
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Meal plans
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Recipes
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Food benefits
                  </a>
                </li>
                <li>
                  <a class="menu" href="/inspiration">
                    Inspiration
                  </a>
                </li>
                <li>
                  <a class="menu" href="/health-tips">
                    Health Tips
                  </a>
                </li>
              </ul>
            </div>


            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/products">
                    Products
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    MML Simulator
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Calculators
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Perfect Body
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Body mass index
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Calories burned
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Counters
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Calorie counter
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Nutrition counter
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Reminders
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Water drink reminder
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/">
                    Our Company
                  </a>
                </li>
                <li>
                  <a class="menu" href="/about">
                    About
                  </a>
                </li>
                <li>
                  <a class="menu" href="/contact">
                    Contact
                  </a>
                </li>
              </ul>

            </div>


            </div>
            </div>

            <div class="col-xs-6 col-xs-offset-6 col-sm-offset-0 col-md-2 get-app-column">
              <h3>
                Get <br>the app
              </h3>
              <a href="#">
                <img class="app-link-img" src="/img/app-store-apple.png" />
              </a>
              <a href="#">
                <img class="app-link-img" src="/img/app-store-google.png" />
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="sub-footer">
        <div class="inner">
          <div class="content-margins">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <ul>
                  <li>
                    <a class="menu" href="#">Terms and Conditions</a>
                  </li>
                  <li class="divider">
                    |
                  </li>
                  <li>
                    <a class="menu" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 right">
                <p>
                  ©2019 Model my Lifestyle. All rights reserved
                </p>
              </div>
            </div>




          </div>
        </div>
      </div>

    </footer>


    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script>

  $( "li.home" ).hover(function() {
    $('.submenu').removeClass('visible');
  });

  $( "li.lifestyle" ).hover(function() {
    $('.submenu').removeClass('visible');
    $('.lifestyle-submenu').addClass('visible');
  });

  $( ".lifestyle-submenu" ).mouseenter(function() {
    $( "li.lifestyle" ).addClass('active');
  });

  $( ".lifestyle-submenu" ).mouseleave(function() {
    $( "li.lifestyle" ).removeClass('active');
    $('.lifestyle-submenu').removeClass('visible');
  });

  $( "li.products" ).hover(function() {
    $('.submenu').removeClass('visible');
    $('.products-submenu').addClass('visible');
  });

  $( ".products-submenu" ).mouseenter(function() {
    $( "li.products" ).addClass('active');
  });

  $( ".products-submenu" ).mouseleave(function() {
    $( "li.products" ).removeClass('active');
    $('.products-submenu').removeClass('visible');
  });

  $( "li.our-company" ).hover(function() {
    $('.submenu').removeClass('visible');
    $('.our-company-submenu').addClass('visible');
  });

  $( ".our-company-submenu" ).mouseenter(function() {
    $( "li.our-company" ).addClass('active');
  });

  $( ".our-company-submenu" ).mouseleave(function() {
    $( "li.our-company" ).removeClass('active');
    $('.our-company-submenu').removeClass('visible');
  });

  </script>

  </body>
</html>
