<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" />
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <nav class="nav nav-desktop">
      <div class="inner">
        <div class="content-margins">
          <div class="logo">
            <a href="/">
              <img src="/img/alternative-color-bg/lime-logo.png" alt="nav-logo">
            </a>
          </div>
          <ul>
            <li>
              <a class="menu" href="/">Home</a>
            </li>
            <li class="divider">
              |
            </li>
            <li>
              <a class="menu" href="/lifestyle">Lifestyle</a>
            </li>
            <li class="divider">
              |
            </li>
            <li>
              <a class="menu" href="#">Products</a>
            </li>
            <li class="divider">
              |
            </li>
            <li>
              <a class="menu" href="#">Our Company</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <h1>
      {{ page.title }}
    </h1> -->

    <section>
      {{ content }}



    </section>




    <footer>
      <div class="inner">
        <div class="content-margins">

          <div class="row social-row">
            <div class="col-xs-12 col-md-6">
              <img class="footer-logo" src="/img/alternative-color-bg/footer-logo.png" alt="footer-logo" />
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="social-icons">
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/facebook.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/instagram.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/pinterest.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/twitter.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/youtube.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-5">
              <h3>
                Keep<br>in Touch
              </h3>
              <p>
                Subcribe to our newsletter
              </p>
              <form method="post">
                <input type="email" name="email" value="" placeholder="email">
                <input type="submit" name="submit" value=">" />
              </form>
            </div>

            <div class="col-xs-12 col-md-5">
              <div class="row">





            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/lifestyle">
                    Lifestyle
                  </a>
                </li>
                <li>
                  <a class="menu" href="/workouts">
                    Workouts
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Weight loss
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Muscle gain
                  </a>
                </li>
                <li>
                  <a class="menu" href="/food">
                    Food
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Meal plans
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Recipes
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Food benefits
                  </a>
                </li>
                <li>
                  <a class="menu" href="/inspiration">
                    Inspiration
                  </a>
                </li>
                <li>
                  <a class="menu" href="/health-tips">
                    Health Tips
                  </a>
                </li>
              </ul>
            </div>


            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/products">
                    Products
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    MML Simulator
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Calculators
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Perfect Body
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Body mass index
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Calories burned
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Counters
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Calorie counter
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Nutrition counter
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Reminders
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Water drink reminder
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/">
                    Our Company
                  </a>
                </li>
                <li>
                  <a class="menu" href="/about">
                    About
                  </a>
                </li>
                <li>
                  <a class="menu" href="/contact">
                    Contact
                  </a>
                </li>
              </ul>

            </div>


            </div>
            </div>

            <div class="col-xs-6 col-xs-offset-6 col-sm-offset-0 col-md-2 get-app-column">
              <h3>
                Get <br>the app
              </h3>
              <a href="#">
                <img class="app-link-img" src="/img/app-store-apple.png" />
              </a>
              <a href="#">
                <img class="app-link-img" src="/img/app-store-google.png" />
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="sub-footer">
        <div class="inner">
          <div class="content-margins">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <ul>
                  <li>
                    <a class="menu" href="#">Terms and Conditions</a>
                  </li>
                  <li class="divider">
                    |
                  </li>
                  <li>
                    <a class="menu" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 right">
                <p>
                  ©2019 Model my Lifestyle. All rights reserved
                </p>
              </div>
            </div>




          </div>
        </div>
      </div>

    </footer>

  </body>
</html>
