<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" />
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>


      <!-- <div class="nav mobile-menu">
        <div class="inner">
          <div class="content-margins">
            <div class="logo">
              <a href="/">
                <img src="/img/alternative-color-bg/lime-logo.png" alt="nav-logo">
              </a>
            </div>
            <div class="patty"></div>
          <div class="menu">
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </div>
        </div>
      </div> -->

      <div class="nav nav-mobile">
        <div class="inner">
          <div class="content-margins">
            <div class="logo">
              <a href="/">
                <img src="/img/alternative-color-bg/lime-logo.png" alt="nav-logo">
              </a>
            </div>
            <div class="mobile-menu">
              <div class="patty"></div>
            </div>
            <div class="accordion-menu">

                    <div class="accordion js-accordion">
                      {% if page.active == "home" %}
                      <a class="button green-button toggle home-button-active" href="/">
                        <span class="button-text">Home</span><span class="caret">></span>
                      </a>
                      {% else %}
                      <a class="button green-button toggle" href="/">
                        <span class="button-text">Home</span><span class="caret">></span>
                      </a>
                      {% endif %}
                      <div class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">
                          <div class="button green-button toggle lifestyle-menu-button">
                            <span class="button-text">Lifestyle</span><span class="caret">></span>
                          </div>
                        </div>
                      <div class="accordion-body js-accordion-body">
                        <div class="accordion-body__contents">

                          <ul class="mobile-accordion-ul">
                            {% if page.active == "workouts" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/workouts">
                                <span class="button-text">Workouts</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button" href="/workouts">
                                <span class="button-text">Workouts</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "weight-loss-exercise" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/weight-loss-exercise">
                                <span class="button-text">Weight Loss</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button" href="/weight-loss-exercise">
                                <span class="button-text">Weight Loss</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "muscle-gain" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/muscle-gain">
                                <span class="button-text">Muscle Gain</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button" href="/muscle-gain">
                                <span class="button-text">Muscle Gain</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "food" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/food">
                                <span class="button-text">Food</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button" href="/food">
                                <span class="button-text">Food</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "meal-plans" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/meal-plans">
                                <span class="button-text">Meal Plans</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button" href="/meal-plans">
                                <span class="button-text">Meal Plans</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "recipes" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/recipes">
                                <span class="button-text">Recipes</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button" href="/recipes">
                                <span class="button-text">Recipes</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "health-and-beauty" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/health-and-beauty">
                                <span class="button-text">Health & Beauty</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button" href="/health-and-beauty">
                                <span class="button-text">Health & Beauty</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "weight-loss-food" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/weight-loss-food">
                                <span class="button-text">Weight Loss</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-orange-button" href="/weight-loss-food">
                                <span class="button-text">Weight Loss</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "inspiration" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/inspiration">
                                <span class="button-text">Inspiration</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button" href="/inspiration">
                                <span class="button-text">Inspiration</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "health-tips" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/health-tips">
                                <span class="button-text">Health Tips</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button" href="/health-tips">
                                <span class="button-text">Health Tips</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "lifestyle" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button toggle" href="/lifestyle">
                                <span class="button-text">See all articles</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-orange-button" href="/lifestyle">
                                <span class="button-text">See all articles</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                          </ul>

                        </div>

                        </div><!-- end of accordion body -->
                      </div><!-- end of accordion item -->
                      <div class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">
                          <div class="button green-button toggle products-menu-button">
                            <span class="button-text">Products</span><span class="caret">></span>
                          </div>
                        </div>
                      <div class="accordion-body js-accordion-body">
                        <div class="accordion-body__contents">


                          <ul class="mobile-accordion-ul">
                            {% if page.active == "mml-simulator" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button toggle" href="/mml-simulator">
                                <span class="button-text">MML Simulator</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button" href="/mml-simulator">
                                <span class="button-text">MML Simulator</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "calculators" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button toggle" href="/calculators">
                                <span class="button-text">Calculators</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button" href="/calculators">
                                <span class="button-text">Calculators</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "perfect-body" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button toggle" href="/perfect-body">
                                <span class="button-text">Perfect Body</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button" href="/perfect-body">
                                <span class="button-text">Perfect Body</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "body-mass-index" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button toggle" href="/body-mass-index">
                                <span class="button-text">Body Mass Index</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button" href="/body-mass-index">
                                <span class="button-text">Body Mass Index</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "calories-burned" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button toggle" href="/calories-burned">
                                <span class="button-text">Calories Burned</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button" href="/calories-burned">
                                <span class="button-text">Calories Burned</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "counters" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button toggle" href="/counters">
                                <span class="button-text">Counters</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button" href="/counters">
                                <span class="button-text">Counters</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "calorie-counter" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button toggle" href="/calorie-counter">
                                <span class="button-text">Calorie Counter</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button" href="/calorie-counter">
                                <span class="button-text">Calorie Counter</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "nutrition-counter" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button toggle" href="/nutrition-counter">
                                <span class="button-text">Nutrition Counter</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button" href="/nutrition-counter">
                                <span class="button-text">Nutrition Counter</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "reminders" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button toggle" href="/reminders">
                                <span class="button-text">Reminders</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button" href="/reminders">
                                <span class="button-text">Reminders</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "water-drink-reminder" %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button toggle" href="/water-drink-reminder">
                                <span class="button-text">Water Drink</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="sub-item">
                              <a class="submenu-button submenu-green-button" href="/water-drink-reminder">
                                <span class="button-text">Water Drink</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                            {% if page.active == "products" %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button toggle" href="/products">
                                <span class="button-text">See all products</span><span class="caret">></span>
                              </a>
                            </li>
                            {% else %}
                            <li class="title-item">
                              <a class="submenu-button submenu-green-button" href="/products">
                                <span class="button-text">See all products</span><span class="caret hidden-caret">></span>
                              </a>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                        </div><!-- end of accordion body -->
                      </div><!-- end of accordion item -->
                      {% if page.active == "our-company" %}
                      <a class="button green-button toggle our-company-active" href="/our-company">
                        <span class="button-text">Our Company</span><span class="caret">></span>
                      </a>
                      {% else %}
                      <a class="button green-button toggle" href="/our-company">
                        <span class="button-text">Our Company</span><span class="caret">></span>
                      </a>
                      {% endif %}
                    </div><!-- end of accordion -->
            </div>
          </div>
        </div>
      </div>













    <nav class="nav nav-desktop">
      <div class="inner">
        <div class="content-margins">
          <div class="logo">
            <a href="/">
              <img src="/img/alternative-color-bg/lime-logo.png" alt="nav-logo">
            </a>
          </div>
          <ul class="desktop-links">


            {% if page.active == "home" %}
            <li class="home active">
              <a class="menu" href="/">Home</a>
            </li>
            {% else %}
            <li class="home">
              <a class="menu" href="/">Home</a>
            </li>
            {% endif %}
            {% unless page.active == "lifestyle" %}
            {% unless page.active == "home" %}
            <li class="divider">
              |
            </li>
            {% endunless %}
            {% endunless %}
            {% if page.active == "lifestyle" %}
            <li class="lifestyle active">
              <a class="menu" href="/lifestyle">Lifestyle</a>
            </li>
            {% else %}
            <li class="lifestyle">
              <a class="menu" href="/lifestyle">Lifestyle</a>
            </li>
            {% endif %}
            {% unless page.active == "lifestyle" %}
            {% unless page.active == "products" %}
            <li class="divider">
              |
            </li>
            {% endunless %}
            {% endunless %}
            {% if page.active == "products" %}
            <li class="products active">
              <a class="menu" href="/products">Products</a>
            </li>
            {% else %}
            <li class="products">
              <a class="menu" href="/products">Products</a>
            </li>
            {% endif %}
            {% unless page.active == "products" %}
            {% unless page.active == "our-company" %}
            <li class="divider">
              |
            </li>
            {% endunless %}
            {% endunless %}
            {% if page.active == "our-company" %}
            <li class="our-company active">
              <a class="menu" href="/our-company">Our Company</a>
            </li>
            {% else %}
            <li class="our-company">
              <a class="menu" href="/our-company">Our Company</a>
            </li>
            {% endif %}
          </ul>

    </nav>



    </div>
    </div>


    <div class="submenu lifestyle-submenu">
      <div class="row">
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "workouts" %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button toggle" href="/workouts">
                <span class="button-text">Workouts</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button" href="/workouts">
                <span class="button-text">Workouts</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "weight-loss-exercise" %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button toggle" href="/weight-loss-exercise">
                <span class="button-text">Weight Loss</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button" href="/weight-loss-exercise">
                <span class="button-text">Weight Loss</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "muscle-gain" %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button toggle" href="/muscle-gain">
                <span class="button-text">Muscle Gain</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button" href="/muscle-gain">
                <span class="button-text">Muscle Gain</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "food" %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button toggle" href="/food">
                <span class="button-text">Food</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button" href="/food">
                <span class="button-text">Food</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "meal-plans" %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button toggle" href="/meal-plans">
                <span class="button-text">Meal Plans</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button" href="/meal-plans">
                <span class="button-text">Meal Plans</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "recipes" %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button toggle" href="/recipes">
                <span class="button-text">Recipes</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button" href="/recipes">
                <span class="button-text">Recipes</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "health-and-beauty" %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button toggle" href="/health-and-beauty">
                <span class="button-text">Health & Beauty</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button" href="/health-and-beauty">
                <span class="button-text">Health & Beauty</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "weight-loss-food" %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button toggle" href="/weight-loss-food">
                <span class="button-text">Weight Loss</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-orange-button" href="/weight-loss-food">
                <span class="button-text">Weight Loss</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "inspiration" %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button toggle" href="/inspiration">
                <span class="button-text">Inspiration</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button" href="/inspiration">
                <span class="button-text">Inspiration</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "health-tips" %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button toggle" href="/health-tips">
                <span class="button-text">Health Tips</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button" href="/health-tips">
                <span class="button-text">Health Tips</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
          <ul class="see-all-articles">
            {% if page.active == "lifestyle" %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button toggle" href="/lifestyle">
                <span class="button-text">See all articles</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-orange-button" href="/lifestyle">
                <span class="button-text">See all articles</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>




    <div class="submenu products-submenu">
      <div class="row">
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "mml-simulator" %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button toggle" href="/mml-simulator">
                <span class="button-text">MML Simulator</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button" href="/mml-simulator">
                <span class="button-text">MML Simulator</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "calculators" %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button toggle" href="/calculators">
                <span class="button-text">Calculators</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button" href="/calculators">
                <span class="button-text">Calculators</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "perfect-body" %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button toggle" href="/perfect-body">
                <span class="button-text">Perfect Body</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button" href="/perfect-body">
                <span class="button-text">Perfect Body</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "body-mass-index" %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button toggle" href="/body-mass-index">
                <span class="button-text">Body Mass Index</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button" href="/body-mass-index">
                <span class="button-text">Body Mass Index</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "calories-burned" %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button toggle" href="/calories-burned">
                <span class="button-text">Calories Burned</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button" href="/calories-burned">
                <span class="button-text">Calories Burned</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "counters" %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button toggle" href="/counters">
                <span class="button-text">Counters</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button" href="/counters">
                <span class="button-text">Counters</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "calorie-counter" %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button toggle" href="/calorie-counter">
                <span class="button-text">Calorie Counter</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button" href="/calorie-counter">
                <span class="button-text">Calorie Counter</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "nutrition-counter" %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button toggle" href="/nutrition-counter">
                <span class="button-text">Nutrition Counter</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button" href="/nutrition-counter">
                <span class="button-text">Nutrition Counter</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-3">
          <ul>
            {% if page.active == "reminders" %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button toggle" href="/reminders">
                <span class="button-text">Reminders</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button" href="/reminders">
                <span class="button-text">Reminders</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
            {% if page.active == "water-drink-reminder" %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button toggle" href="/water-drink-reminder">
                <span class="button-text">Water Drink</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="sub-item">
              <a class="submenu-button submenu-green-button" href="/water-drink-reminder">
                <span class="button-text">Water Drink</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
          <ul class="see-all-articles">
            {% if page.active == "products" %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button toggle" href="/products">
                <span class="button-text">See all products</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-green-button" href="/products">
                <span class="button-text">See all products</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>


    <div class="submenu our-company-submenu">
      <div class="row">
        <div class="col-xs-0 col-sm-6">
          <ul>
            {% if page.active == "about" %}
            <li class="title-item">
              <a class="submenu-button submenu-red-button toggle" href="/about">
                <span class="button-text">About</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-red-button" href="/about">
                <span class="button-text">About</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-0 col-sm-6">
          <ul>
            {% if page.active == "contact" %}
            <li class="title-item">
              <a class="submenu-button submenu-red-button toggle" href="/contact">
                <span class="button-text">Contact</span><span class="caret">></span>
              </a>
            </li>
            {% else %}
            <li class="title-item">
              <a class="submenu-button submenu-red-button" href="/contact">
                <span class="button-text">Contact</span><span class="caret hidden-caret">></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>


    <!-- <h1>
      {{ page.title }}
    </h1> -->

    <section class="page-section">
      {{ content }}



    </section>




    <footer>
      <div class="inner">
        <div class="content-margins">

          <div class="row social-row">
            <div class="col-xs-12 col-md-6">
              <img class="footer-logo" src="/img/alternative-color-bg/footer-logo.png" alt="footer-logo" />
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="social-icons">
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/facebook.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/instagram.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/pinterest.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/twitter.png" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="footer-logo" src="/img/social-icons/youtube.png" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-5">
              <h3>
                Keep<br>in Touch
              </h3>
              <p>
                Subcribe to our newsletter
              </p>
              <form method="post">
                <input type="email" name="email" value="" placeholder="email">
                <input type="submit" name="submit" value=">" />
              </form>
            </div>

            <div class="col-xs-12 col-md-5">
              <div class="row">





            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/lifestyle">
                    Lifestyle
                  </a>
                </li>
                <li>
                  <a class="menu" href="/workouts">
                    Workouts
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Weight loss
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Muscle gain
                  </a>
                </li>
                <li>
                  <a class="menu" href="/food">
                    Food
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Meal plans
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Recipes
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Food benefits
                  </a>
                </li>
                <li>
                  <a class="menu" href="/inspiration">
                    Inspiration
                  </a>
                </li>
                <li>
                  <a class="menu" href="/health-tips">
                    Health Tips
                  </a>
                </li>
              </ul>
            </div>


            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/products">
                    Products
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    MML Simulator
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Calculators
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Perfect Body
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Body mass index
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Calories burned
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Counters
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Calorie counter
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Nutrition counter
                  </a>
                </li>
                <li>
                  <a class="menu" href="#">
                    Reminders
                  </a>
                </li>
                <li class="sub-menu">
                  <a class="menu" href="#">
                    Water drink reminder
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-4">
              <ul class="sitemap-menu">
                <li class="title">
                  <a href="/">
                    Our Company
                  </a>
                </li>
                <li>
                  <a class="menu" href="/about">
                    About
                  </a>
                </li>
                <li>
                  <a class="menu" href="/contact">
                    Contact
                  </a>
                </li>
              </ul>

            </div>


            </div>
            </div>

            <div class="col-xs-6 col-xs-offset-6 col-sm-offset-0 col-md-2 get-app-column">
              <h3>
                Get <br>the app
              </h3>
              <a href="#">
                <img class="app-link-img" src="/img/app-store-apple.png" />
              </a>
              <a href="#">
                <img class="app-link-img" src="/img/app-store-google.png" />
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="sub-footer">
        <div class="inner">
          <div class="content-margins">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <ul>
                  <li>
                    <a class="menu" href="#">Terms and Conditions</a>
                  </li>
                  <li class="divider">
                    |
                  </li>
                  <li>
                    <a class="menu" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 right">
                <p>
                  ©2019 Model my Lifestyle. All rights reserved
                </p>
              </div>
            </div>




          </div>
        </div>
      </div>

    </footer>


    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script>
  // mobile nav functionality

  $('.mobile-menu').click(function(){
    $(this).find('.patty').toggleClass('active');
    $(".accordion-menu").toggleClass("visible");
  });



  // accordion

  var accordion = (function(){

  var $accordion = $('.js-accordion');
  var $accordion_header = $accordion.find('.js-accordion-header');
  var $accordion_item = $('.js-accordion-item');

  // default settings
  var settings = {
    // animation speed
    speed: 400,

    // close all other accordion items if true
    oneOpen: false
  };

  return {
    // pass configurable object literal
    init: function($settings) {
      $accordion_header.on('click', function() {
        accordion.toggle($(this));
      });

      $.extend(settings, $settings);

      // ensure only one accordion is active if oneOpen is true
      if(settings.oneOpen && $('.js-accordion-item.active').length > 1) {
        $('.js-accordion-item.active:not(:first)').removeClass('active');
      }

      // reveal the active accordion bodies
      $('.js-accordion-item.active').find('> .js-accordion-body').show();
    },
    toggle: function($this) {

      if(settings.oneOpen && $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]) {
        $this.closest('.js-accordion')
               .find('> .js-accordion-item')
               .removeClass('active')
               .find('.js-accordion-body')
               .slideUp()
      }

      // show/hide the clicked accordion item
      $this.closest('.js-accordion-item').toggleClass('active');
      $this.next().stop().slideToggle(settings.speed);
    }
  }
})();

$(document).ready(function(){
  accordion.init({ speed: 300, oneOpen: true });
});





  // desktop nav functionality
  $( "li.home" ).hover(function() {
    $('.submenu').removeClass('visible');
  });

  $( "li.lifestyle" ).hover(function() {
    $('.submenu').removeClass('visible');
    $('.lifestyle-submenu').addClass('visible');
  });

  $( ".lifestyle-submenu" ).mouseenter(function() {
    $( "li.lifestyle" ).addClass('active');
  });

  $( ".lifestyle-submenu ul li a" ).hover(function() {
    $( this ).find(".hidden-caret").toggleClass('visible-2');
    // $( this ).toggleClass('button');
    // $( this ).toggleClass('orange-button');
  });

  $( ".lifestyle-submenu" ).mouseleave(function() {
    $( "li.lifestyle" ).removeClass('active');
    $('.lifestyle-submenu').removeClass('visible');
  });

  $( "li.products" ).hover(function() {
    $('.submenu').removeClass('visible');
    $('.products-submenu').addClass('visible');
  });

  $( ".products-submenu" ).mouseenter(function() {
    $( "li.products" ).addClass('active');
  });

  $( ".products-submenu ul li a" ).hover(function() {
    $( this ).find(".hidden-caret").toggleClass('visible-2');
    // $( this ).toggleClass('button');
    // $( this ).toggleClass('green-button');
  });

  $( ".mobile-accordion-ul li a" ).hover(function() {
    $( this ).find(".hidden-caret").toggleClass('visible-2');
    // $( this ).toggleClass('button');
    // $( this ).toggleClass('green-button');
  });



  $( ".products-submenu" ).mouseleave(function() {
    $( "li.products" ).removeClass('active');
    $('.products-submenu').removeClass('visible');
  });

  $( "li.our-company" ).hover(function() {
    $('.submenu').removeClass('visible');
    $('.our-company-submenu').addClass('visible');
  });

  $( ".our-company-submenu" ).mouseenter(function() {
    $( "li.our-company" ).addClass('active');
  });

  $( ".our-company-submenu ul li a" ).hover(function() {
    $( this ).find(".hidden-caret").toggleClass('visible-2');
    // $( this ).toggleClass('button');
    // $( this ).toggleClass('red-button');
  });

  $( ".our-company-submenu" ).mouseleave(function() {
    $( "li.our-company" ).removeClass('active');
    $('.our-company-submenu').removeClass('visible');
  });

  </script>

  </body>
</html>
