---
layout: default
---

<div class="slider-container">
  <div class="inner">

    <div id="slider">
      <a href="#" class="control_next">></a>
      <a href="#" class="control_prev"><</a>
      <ul>
        <li>Slide 1</li>
        <li>Slide 2</li>
        <li>Slide 3</li>
        <li>Slide 4</li>
      </ul>
    </div>

  <!-- <div class="slider_option">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">Autoplay Slider</label>
  </div> -->
  </div>
</div>


<div class="stats-container">
  <div class="inner">
    <div class="content-margins">
      <div class="row stats-desktop">
        <div class="col-xs-12 col-sm-4">
          <div class="orange center">
            <h3>50,000+</h3>
            <h4>people</h4>
            <h5>used our app</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="green center">
            <h3>25,000+</h3>
            <h4>kilos</h4>
            <h5>have already been lost</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="red center">
            <h3>499,000</h3>
            <h4>happy users</h4>
          </div>
        </div>
      </div>

      <div class="row stats-mobile">
        <div class="col-xs-12">
          <div id="stats-slider">
            <a href="#" class="control_next2">></a>
            <a href="#" class="control_prev2"><</a>
            <ul>
              <li class="green center">
                <h3>25,000+</h3>
                <h4>kilos</h4>
                <h5>have already been lost</h5>
              </li>
              <li class="red center">
                <h3>499,000</h3>
                <h4>happy users</h4>
              </li>
              <li class="orange center">
                <h3>50,000+</h3>
                <h4>people</h4>
                <h5>used our app</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="box-bg-container">
  <div class="inner">
    <div class="row">
      <div class="col-xs-6">
        <div class="box box-1">
          <h2 class="yellow">
            Stay <br>motivated <br>and get <br>inspired
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box box-2">
          <h2 class="pink">
            Get tips <br> to stay fit <br> and <br> healthy
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box box-3">
          <h2 class="lime">
            Track <br> your <br> progress
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box box-4">
          <h2 class="aqua">
            Meet <br> our <br> community
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="box-white-container">
  <div class="inner">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="box box-5 orange-background">
          <h1 class="yellow">
            Choose <br>the healthy <br> lifestyle
          </h1>
          <a class="button orange-button" href="/workouts">
            <span class="button-text">Workouts</span><span class="caret">></span>
          </a>
          <a class="button orange-button" href="/food">
            <span class="button-text">Food</span><span class="caret">></span>
          </a>
          <a class="button orange-button" href="/inspiration">
            <span class="button-text">Inspiration</span><span class="caret">></span>
          </a>
          <a class="button orange-button" href="/health-tips">
            <span class="button-text">Health & Tips</span><span class="caret">></span>
          </a>
          <a class="button orange-button" href="/lifestyle">
            <span class="button-text">All articles</span><span class="caret">></span>
          </a>
        </div>
      </div>


        {% for post in site.categories.blog limit:3 %}
        <div class="col-xs-12 col-sm-6">
          <div class="box blog-box" style="background-image: url('{{post.image}}');">
              <div class="sub-box {{ post.categories | join: ' ' }}">
                <h5 class="bold">{{post.title}}</h5>
                <a class="button toggle" href="{{post.permalink}}">
                  <span class="button-text">Read More</span><span class="caret">></span>
                </a>
              </div>
          </div>
        </div>
        {% endfor %}

    </div>
  </div>
</div>



<div class="success-stories-container red-background">
  <div class="inner">
    <!-- <div class="content-margins"> -->
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1 class="pink">
            Success Stories
          </h1>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="button red-button toggle" href="/success-stories">
            <span class="button-text">More Stories</span><span class="caret">></span>
          </a>
        </div>
      </div>
      <div id="success-slider">
        <a href="#" class="control_next3">></a>
        <a href="#" class="control_prev3"><</a>
        <ul>
          {% for post in site.posts limit:3 %}
          {% if post.path contains 'success-stories' %}
          <li>
            <div class="row">
              <div class="col-xs-0 col-md-4 hide-sm">
                <!-- <div class="success-image-container" style="background-image: url('{{post.image}}');">

                </div> -->
                <img class="success-image" src="{{post.image}}"/>
              </div>
              <div class="col-xs-12 col-md-8 big-sm">
                <div class="text-container">
                  <div class="name-container">
                    <h3 class="red">
                      {{post.title}}
                    </h3>
                    <h6 class="red">
                      {{post.pounds}}
                    </h6>
                  </div>
                  <h5 class="white">
                    "{{post.quote}}"
                  </h5>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    <!-- </div> -->
  </div>
</div>




<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
// hero slider
jQuery(document).ready(function ($) {

$('#checkbox').change(function(){
  setInterval(function () {
      moveRight();
  }, 3000);
});

var slideCount = $('#slider ul li').length;
var slideWidth = $('#slider ul li').width();
var slideHeight = $('#slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#slider').css({ width: slideWidth, height: slideHeight });

$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

  $('#slider ul li:last-child').prependTo('#slider ul');

  function moveLeft() {
      $('#slider ul').animate({
          left: + slideWidth
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
  };

  function moveRight() {
      $('#slider ul').animate({
          left: - slideWidth
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
  };

  $('a.control_prev').click(function (e) {
      e.preventDefault();
      moveLeft();
  });

  $('a.control_next').click(function (e) {
      e.preventDefault();
      moveRight();
  });

});



// stats slider
jQuery(document).ready(function ($) {

// $('#checkbox').change(function(){
//   setInterval(function () {
//       moveRight();
//   }, 3000);
// });

var slideCount = $('#stats-slider ul li').length;
var slideWidth = $('#stats-slider ul li').width();
var slideHeight = $('#stats-slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#stats-slider').css({ width: slideWidth, height: slideHeight });

$('#stats-slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

  $('#stats-slider ul li:last-child').prependTo('#stats-slider ul');

  function moveLeft2() {
      $('#stats-slider ul').animate({
          left: + slideWidth
      }, 200, function () {
          $('#stats-slider ul li:last-child').prependTo('#stats-slider ul');
          $('#stats-slider ul').css('left', '');
      });
  };

  function moveRight2() {
      $('#stats-slider ul').animate({
          left: - slideWidth
      }, 200, function () {
          $('#stats-slider ul li:first-child').appendTo('#stats-slider ul');
          $('#stats-slider ul').css('left', '');
      });
  };

  $('a.control_prev2').click(function (e) {
      e.preventDefault();
      moveLeft2();
  });

  $('a.control_next2').click(function (e) {
    e.preventDefault();
      moveRight2();
  });

});



// success stories slider
jQuery(document).ready(function ($) {

// $('#checkbox').change(function(){
//   setInterval(function () {
//       moveRight();
//   }, 3000);
// });

var slideCount = $('#success-slider ul li').length;
var slideWidth = $('#success-slider ul li').width();
var slideHeight = $('#success-slider ul li').height();
var sliderUlWidth = slideCount * slideWidth;

$('#success-slider').css({ width: slideWidth, height: slideHeight });

$('#success-slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

  $('#success-slider ul li:last-child').prependTo('#success-slider ul');

  function moveLeft() {
      $('#success-slider ul').animate({
          left: + slideWidth
      }, 200, function () {
          $('#success-slider ul li:last-child').prependTo('#success-slider ul');
          $('#success-slider ul').css('left', '');
      });
  };

  function moveRight() {
      $('#success-slider ul').animate({
          left: - slideWidth
      }, 200, function () {
          $('#success-slider ul li:first-child').appendTo('#success-slider ul');
          $('#success-slider ul').css('left', '');
      });
  };

  $('a.control_prev3').click(function (e) {
      e.preventDefault();
      moveLeft();
  });

  $('a.control_next3').click(function (e) {
      e.preventDefault();
      moveRight();
  });

});


</script>
