---
layout: default
---

<div class="box-white-container our-company-hero">
  <div class="inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-5">
          <h2 class="red">
            Our approach
          </h2>
          <h4 class="red">
            What modeling your lifestyle is all about
          </h4>

          <p>
            Unlike some other weight loss website Model My Lifestyle is focused on encouraging and promoting a healthy lifestyle, not a diet culture community. We have the knowledge to help you lose weight but the right way. All you need to bring to the tablets a positive mindset, hard work and consistency. We're here to motivate and inspire you with our unique body visualizer simulator, as well as our website full of articles on all things health and fitness, our own healthy recipes, and our excellent meal plans and workout regimes.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-company-content">
  <div class="inner">
      <div class="row desktop-row">
        <div class="col-xs-12 col-sm-6">
          <p>
            We're all about creating an inclusive fit community. Were passionate about helping you achieve your health and fitness goals. but we're also here to remind you that you're amazing as you are. We believe in loving your body and becoming the best version of you that you can be. rather than setting unattainable goals to look like someone else. Some weight loss blogs may focus on how to lose weight as quickly as possible. but we're here to help you get fit and healthy. and STAY fit and healthy - we're In it for the long run!
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="company-image-1">

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="company-image-2">

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p>
            It doesn't matter what stage of fitness you are at, or what your goal weight is. as with our awesome team and our body visualizer, we'll help you achieve your goal and then improve on it even further! Think of us as your own personal trainer and cheerleader. where other weight loss websites simply show you how to do exercises. were also here to keep you positive and motivated! We're not about bland, boring diet foods here! We love health, nutritious food, and we're keen to help you feel the same way about healthy food too!
          </p>
        </div>
      </div>

      <div class="row mobile-row">
        <div class="col-xs-12 col-sm-6">
          <p>
            We're all about creating an inclusive fit community. Were passionate about helping you achieve your health and fitness goals. but we're also here to remind you that you're amazing as you are. We believe in loving your body and becoming the best version of you that you can be. rather than setting unattainable goals to look like someone else. Some weight loss blogs may focus on how to lose weight as quickly as possible. but we're here to help you get fit and healthy. and STAY fit and healthy - we're In it for the long run!
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="company-image-1">

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p>
            It doesn't matter what stage of fitness you are at, or what your goal weight is. as with our awesome team and our body visualizer, we'll help you achieve your goal and then improve on it even further! Think of us as your own personal trainer and cheerleader. where other weight loss websites simply show you how to do exercises. were also here to keep you positive and motivated! We're not about bland, boring diet foods here! We love health, nutritious food, and we're keen to help you feel the same way about healthy food too!
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="company-image-2">

          </div>
        </div>
      </div>
  </div>
</div>


<div class="box-white-container our-company-lower-section center">
  <div class="inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-5 orange-background">
          <h5 class="white">
            Your weight loss journey starts here. Do you feel ready to smash goals? Ready to seize the day? Are you looking forward to being fitter, healthier, and happier? Well then, let's get started!
          </h5>
          <h2 class="dark-orange">
            Download the app
          </h2>
          <ul>
            <li>
              <a href="#">
                <img src="/img/app-store-apple.png" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/img/app-store-google.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-company-contact-section green-background">
  <div class="inner">
    <div class="content-margins">
      <h2 class="lime">
        Questions? Contact us
      </h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h4 class="lime">
            Lorem ipsum
          </h4>
          <p class="white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
          <a class="button green-button toggle" href="/faq">
            <span class="button-text">FAQ</span><span class="caret">></span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4 class="lime right">
            Email us
          </h4>
          <form class="company-page-contact-form" method="post">
            <input type="text" name="name" value="" placeholder="name" />
            <br>
            <input type="email" name="email" value="" placeholder="email" />
            <textarea name="message" rows="8" cols="80" placeholder="message"></textarea>
            <a class="button green-button toggle" type="submit">
              <span class="button-text">Send</span><span class="caret">></span>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
