---
layout: default
---

<div class="box-white-container products-hero">
  <div class="inner">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="box box-5 green-background">
          <h1 class="lime">
            Choose <br>the healthy <br> lifestyle
          </h1>
          {% if page.active == "simulators" %}
          <a class="button green-button toggle" href="/simulators">
            <span class="button-text">Simulators</span><span class="caret">></span>
          </a>
          {% else %}
          <a class="button green-button" href="/simulators">
            <span class="button-text">Simulators</span><span class="caret">></span>
          </a>
          {% endif %}
          {% if page.active == "calculators" %}
          <a class="button green-button toggle" href="/calculators">
            <span class="button-text">Calculators</span><span class="caret">></span>
          </a>
          {% else %}
          <a class="button green-button" href="/calculators">
            <span class="button-text">Calculators</span><span class="caret">></span>
          </a>
          {% endif %}
          {% if page.active == "reminders" %}
          <a class="button green-button toggle" href="/reminders">
            <span class="button-text">Reminders</span><span class="caret">></span>
          </a>
          {% else %}
          <a class="button green-button" href="/reminders">
            <span class="button-text">Reminders</span><span class="caret">></span>
          </a>
          {% endif %}
          {% if page.active == "counters" %}
          <a class="button green-button toggle" href="/counters">
            <span class="button-text">Counters</span><span class="caret">></span>
          </a>
          {% else %}
          <a class="button green-button" href="/counters">
            <span class="button-text">Counters</span><span class="caret">></span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="box image-box">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="inner product-list">

  <div class="row forest-background aqua">
    <div class="col-xs-0 col-sm-3">
      <img class="product-icon" src="/img/icons/male-body-aqua.png" />
    </div>
    <div class="col-xs-4 col-sm-3">
      <h4>
        Men's Weight Loss
      </h4>
      <h5>
        Simulator
      </h5>
    </div>
    <div class="col-xs-8 col-sm-6">
      <p>
        Create a mini version of yourself<br>
        Track your daily weight change. See your future healthy self from the front, side and back.<br>
        Get motivated to reach your goal!
      </p>
      <ul>
        <li>
          <a href="#">
            <img src="/img/app-store-apple.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/img/app-store-google.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row red-background pink">
    <div class="col-xs-0 col-sm-3">
      <img class="product-icon" src="/img/icons/female-body-pink.png" />
    </div>
    <div class="col-xs-4 col-sm-3">
      <h4>
        Women's Weight Loss
      </h4>
      <h5>
        Simulator
      </h5>
    </div>
    <div class="col-xs-8 col-sm-6">
      <p>
        Create a mini version of yourself<br>
        Track your daily weight change. See your future healthy self from the front, side and back.<br>
        Get motivated to reach your goal!
      </p>
      <ul>
        <li>
          <a href="#">
            <img src="/img/app-store-apple.png" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/img/app-store-google.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
